* {
    font-family: Georgia, Arial, sans-serif;
}

title {
    display: none;
}

article {
    display: inline-block;
    text-align: center;
}

img {
    display: inline-block;
    width: 50%;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;


}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    text-align: center;
    padding-bottom: 5px;
    
}

section h3 {
    text-align: center;
}

section p {
    text-align: left;
    padding-left: 10%;
    padding-bottom: 8px;
}

section {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 30%;
    text-align: center;
}

h3,
p {
    margin-bottom: 0;
    margin-top: 8px;
}

/* class styles */

.img {
    height: 150px;
    width: 100%;
    display: grid;
}

.europe {
    background-color: #ffcc99;
}

.northAmerica {
    background-color: #e6ffe6;
}

/* Media Queries */

@media (max-width: 1030px) {
    .img {
        height: 100px;
    }
}

@media (max-width: 950px) {
    section {
        width: 45%;
    }
    .img {
        height: 150px;
    }
}

@media (max-width: 700px) {
    .img {
        height: 100px;
    }
}

@media (max-width: 550px){
    section {
        width: 80%;
    }
    .img{
        height: 150px;
    }
}

@media (max-width: 400px) {
    .img {
        height: 100px;
    }
}